%sn-overlay{
	overflow: hidden;
	&:after{
		content: ""; position: absolute; top:0; left:0; width: 100%; bottom: 0;z-index: 1;background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(92, 92, 92, 0.8)); 
	}
}

@include M_Medium_Down{
	.container{
		padding-left: 20px;
		padding-right: 20px;
	}

}

.border-box-ts-be {
	border-radius:30px 0; 
}
.border-box-br{
	border-radius:0 0 30px 0; 
}
.border-box-te-bs{
	border-radius:0 30px; 
}


.has-gradient{
	@extend %sn-overlay;
}
.blck-hero-half{
	height: 50vh;
}

.blck-hero{
	height: 100vh;
	@extend %sn-overlay;
	.blck-full-img{
		min-height: 400px;
	}
}
.blck-full-img{
	margin-top: -100px; padding: 60px 0 60px; 
	height: 100%;
	@include M_Medium_Up{
		margin-top: -100px; padding: 80px 0 70px;
	}
		@include M_Large_Up{
		margin-top: -140px; padding: 140px 0 100px;
	}
}

.bg-white{
	background-color: $bg-white;
}
.bg-gray{
	background-color: $bg-gray;
}

.bg-snow{
	background-color: $bg-snow;
}
.bg-header{
	background-color: $body-color;
}
.bg-body-darker{
	background-color:$bg_color_base_darker;
}
.bg-armored-steel{
	background-color: $armored-steel;
}

.bg-colorbox{
	padding: 25px 30px; z-index: 10; position: relative;
	@include M_Large_Up{
		padding: 55px 70px;
	}
}

.bg-colorbox-big{
	padding: 35px; 
	@include M_Large_Up{
		padding: 90px ;
	}
}

.img-item {
	.img-ratio{ margin-bottom: 20px; }
	h6{ margin-bottom: 10px; }
}
.team-item{
	margin-bottom: 20px;
	p,h6 {
		margin-bottom: 0px; 
	}
}
.blck-title{
	margin-bottom: 20px;
}

.blck{
	margin-bottom:35px; z-index: 2; position: relative; 


	&.blck-top{
		z-index: 9999; 
	}

	&.blck-inner-padd{
		padding:35px 0;
	}
	.img-ratio{
		//margin-bottom: 15px;
	}
	.embed-responsive{
		margin-bottom: 15px;
	}
	@include M_Large_Up{
		margin-bottom:50px;
		.embed-responsive{
			margin-bottom: 30px;
		}
		.blck-title{
			margin-bottom: 50px;
		}
		&.blck-inner-padd{
			padding:50px 0;
		}
		&.blck-breadcrumb{
			margin:-25px 0 25px;
		}
	}
	@include M_ExtraLarge_Up{
		margin-bottom:100px;
		.embed-responsive{
			margin-bottom: 40px;
		}
		&.blck-inner-padd{
			padding:100px 0;
		}
		&.blck-breadcrumb{
			margin:-50px 0 50px;
		}
	}
}

.grid-item,
.hovered-item{
	position: relative; 
	overflow: hidden; 
	margin-bottom: 20px;

	@include M_Medium_Up{
		margin-bottom: 30px;
	}
	&.grid-item-link{
		margin-top: 50px;
		@include M_Medium_Up{
			margin-top: 100px;
		}
	}
	.img-ratio .overlay{
		padding:15px;
		color: $cl_white;
		-webkit-transition: all 0.3s linear;
		transition: all 0.3s linear;
		
		@include M_Medium_Up{
			padding:20px; 
		}
		@include M_Large_Up{
			padding:25px; 
		}

		* {
			color: inherit;
		}

		.lnk-underline{
			color: inherit;
			@include remove_underline_on_hover ($cl_white,0,1px);
		}
		.d-flex{ position: relative; z-index: 2 }
		.d-flex > div { width: 100%; }

		@extend %sn-overlay;
	}
	&:hover{
		.img-ratio .overlay{
			cursor: pointer;
			opacity: 0;
		}
	}

	&.grid-item-hover-1{
		.img-ratio .overlay{
			top:-200px; bottom: -150px; opacity: 0; 
		}
		&:hover{
			.img-ratio .overlay{
				background-color: rgba(0,0,0,.5);top:0px; bottom: 0px; opacity: 1;
			}
		}
	}

	&.grid-item-hover-2{
		.img-ratio .overlay{
			background-color: rgba(0,0,0,.5);
			height: 100%;
			top: 100%;
			margin-top: -85px;
			@include M_Large_Up{
				padding:17px 40px; 
				margin-top: -95px;
			}
			p{ height: 30px; overflow: hidden; font-size: .894735em; }
		}
		&:hover{
			.img-ratio .overlay{
				top:0px;  margin-top: 0;
				p{ height: auto; overflow: hidden; }
			}
		}
	}
}

.filters-button-group{
	a{ 
		display: inline-block; margin-right: 5px; 
		&.is-checked{
			font-weight: bold;
		}
	}
}

.about-elem{
	.text-base{
		position: relative; padding-top: 25px;
		@include M_Medium_Up{
			padding-top: 45px;
		}
	}
}
.hist-line {
	background-color: $base-font-color; position: absolute; left:5%;height: 550%;width: 1px;  top:10px;
	&:after{
		content:""; position:absolute;width: 9px; height: 9px; background-color: $base-font-color;border-radius: 5px; left: -4px;
	}
	@include M_Medium_Up{
		left: 50%;
	}
}

.accordion{
	> .card {
		border-width: 0 0 1px; border-color: transparent transparent #ccc; 
		&:not(:last-of-type),
		&:not(:first-child) {
			border-bottom: 1px solid #ccc;
		}
		> .card-header{
			padding: 0; background-color: transparent; margin-bottom: 0; border:none; outline: 0;
			.btn{
				padding: 15px 0; position: relative;
				&:hover,
				&:focus{text-decoration: none; box-shadow: none;
				}

				&:before{
					width: 1px;height: 25px; background-color:$base-font-color;  content: ""; position: absolute; top: 30%; right: 17px; display: block;
				}
				&:after{
					width: 0;height: 0;border-style: solid;border-width: 10px 3px 0 3px;border-color: $base-font-color transparent transparent transparent; content: ""; position: absolute; top: 60%; right: 15px;
				}
			}
		}
		.card-body{
			padding-left:0;
		}
	}
}

.row-grid{
	margin-right: -15px;
	margin-left: -15px;
	> div{
		padding-left:15px;
		padding-right: 15px;
	}
	.grid-item{
		margin-bottom: 30px;
	}
}
@include M_Large_Up{
	.row-grid{
		margin-right: -20px;
		margin-left: -20px;
		> div{
			padding-left:20px;
			padding-right: 20px;
		}
		.grid-item{
			margin-bottom: 40px;
		}
	}
}

.bg-image{
	background-size:100% auto; background-repeat: no-repeat;  background-position: top center; 
	&.bg-image-abs{
		position: absolute; top: 0; left: 0; width: 100%; height: 100%;opacity: 0;background-size: cover;  background-position: 50% 50%; 

		
	}
	&.bg-image-panning {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;
		animation: move 40s ease-in-out infinite alternate;
		-ms-animation: move 40s ease-in-out infinite alternate;
		-webkit-animation: move 40s ease-in-out infinite alternate;
		-o-animation: move 40s ease-in-out infinite alternate;
		-moz-animation: move 40s ease-in-out infinite alternate;

		transform-origin: 50% 50%;
	}
}

@keyframes move {
	0% {
		transform: scale(1.0);
	}

	100% {
		transform: scale(1.3);
	}
}

@-webkit-keyframes move {
	0% {
		-webkit-transform-origin: 50% 50%;
		transform-origin: 50% 50%;
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
	}

	100% {
		-webkit-transform: scale(1.2);
		transform: scale(1.2);
	}
}
